adium-theme-ubuntu==0.3.4
alabaster==0.7.6
astroid==1.4.4
attrs==15.2.0
Babel==2.1.1
backports-abc==0.4
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.4.1
blinker==1.3
ccsm==0.9.12.2
certifi==2015.11.20
cffi==1.5.2
characteristic==14.3.0
chardet==2.3.0
compizconfig-python==0.9.12.2
cryptography==1.2.3
cvxopt==1.1.4
cycler==0.9.0
debtags==2.0
decorator==4.0.6
defer==1.0.6
dirspec==13.10
docutils==0.12
duplicity==0.7.6
enum34==1.1.2
functools32==3.2.3.post2
future==0.15.2
GDAL==2.1.3
html5lib==0.999
httplib2==0.9.1
idna==2.0
iotop==0.6
ipaddress==1.0.16
ipykernel==4.2.0
ipyparallel==4.1.0
ipython==2.4.1
ipython-genutils==0.1.0
jdcal==1.0
jedi==0.9.0
Jinja2==2.8
joblib==0.9.4
jsonschema==2.5.1
jupyter-client==4.1.1
jupyter-core==4.0.6
keyring==7.3
lazy-object-proxy==1.2.1
lockfile==0.12.2
logilab-common==1.1.0
lxml==3.5.0
Magic-file-extensions==0.2
MarkupSafe==0.23
matplotlib==1.5.1
mercurial==3.7.3
mistune==0.7.1
nbconvert==4.1.0
nbformat==4.0.1
ndg-httpsclient==0.4.0
nose==1.3.7
notebook==4.0.6
numexpr==2.4.3
numpy==1.11.0
numpydoc==0.5
oauthlib==1.0.3
oneconf==0.3.9
openpyxl==2.3.0
OWSLib==0.14.0
PAM==0.4.2
pandas==0.17.1
path.py==8.1.2
patsy==0.4.1
pexpect==4.0.1
pickleshare==0.5
Pillow==3.1.2
piston-mini-client==0.7.5
ply==3.7
psutil==3.4.2
psycopg2==2.6.1
ptyprocess==0.5
py==1.4.31
pyasn1==0.1.9
pyasn1-modules==0.0.7
pycparser==2.14
pycrypto==2.6.1
pycups==1.9.73
pyenchant==1.6.6
pyflakes==1.1.0
Pygments==2.0.2
pygobject==3.20.0
PyJWT==1.3.0
pylint==1.5.2
pyOpenSSL==0.15.1
pyparsing==2.0.3
pyproj==1.9.5.1
pyserial==3.0.1
pyspatialite==3.0.1
pytest==2.8.7
python-apt==1.1.0b1
python-dateutil==2.4.2
python-debian==0.1.27
pytz==2015.7
pyxdg==0.25
PyYAML==3.11
pyzmq==15.1.0
pyzor==0.5.0
qtconsole==4.1.1
reportlab==3.3.0
requests==2.11.1
roman==2.0.0
rope==0.10.2
rpm-python==4.12.0.1
scipy==0.17.0
SecretStorage==2.1.3
service-identity==16.0.0
Shapely==1.5.13
simplegeneric==0.8.1
simplejson==3.8.1
singledispatch==3.4.0.3
six==1.10.0
snowballstemmer==1.2.0
software-center-aptd-plugins==0.0.0
Sphinx==1.3.1
sphinx-rtd-theme==0.1.9
spyder==2.3.8
SquareMap==1.0.4
statsmodels==0.6.1
tables==3.2.2
TaskCoach==1.4.3
terminado==0.5
testpath==0.2
traitlets==4.0.0
Twisted==16.0.0
ubuntuone-client-data==14.4
uniconvertor==1.1.5
unity-lens-photos==1.0
urllib3==1.13.1
wrapt==1.8.0
wxPython==3.0.2.0
wxPython-common==3.0.2.0
xlrd==0.9.4
xlwt==0.7.5
zim==0.65
zope.interface==4.1.3
